*/Binaries
Binaries/*
*/Build
Build/*
*/Content
Content/*
*/DerivedDataCache
DerivedDataCache/*
*/Intermediate
Intermediate/* 
*/StarterContent
StarterContent/*
Saved/*/*/*/*/StarterContent/*
Saved/*/*/*/*/EditorMaterials/*
Saved/*/*/*/*/EditorResources/*
Saved/*/*/*/*/Plugins/*
Saved/*/*/*/Content/*
Saved/EditorCooked/*/*/*/*
Saved/StagedBuilds/*/*/*/*
Saved/Config/CrashReportClient/*
*.dll
*VC.db
*.bin
*.db
*.uasset
*/Backup/*
Backup/*
.vs/*
