Southworth_3d3rdPer\Southworth_3d3rdPer\Binaries
Southworth_3d3rdPer\Southworth_3d3rdPer\Build
Southworth_3d3rdPer\Southworth_3d3rdPer\Content
Southworth_3d3rdPer\Southworth_3d3rdPer\DerivedDataCache
Southworth_3d3rdPer\Southworth_3d3rdPer\Intermediate 
Southworth_3d3rdPer\Southworth_3d3rdPer\StarterContent
Southworth_3d3rdPer\Southworth_3d3rdPer\Saved
Southworth_3d3rdPer\Southworth_3d3rdPer\Saved\Backup\
*.dll
*VC.db
*.bin
*.db
*.log
